@font-face{
    src: url(./Lobster-Regular.ttf);
    font-family: Lobster;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lobster;
}

/* center */

body, .all-dates, .all-dates .time, .container{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------------------ */

body{
    height: 100vh;
    background-color: #EC9B3B;
}

.container{
    flex-direction: column;
    gap: 15px;
    color: #503008;
}

.its-now{
    font-size: 60px;
    color: #503008;
}

.title{
    font-size: 40px;
}

.all-dates{
    gap: 25px;
}

.all-dates .time{
    flex-direction: column;
}




.remove{
    display: none !important;
}